---
layout: simple
section: home

title: MyBB - Free and Open Source Forum Software
meta_description: The official homepage for MyBB, a free and open source PHP forum software.

redirect_from:
- /features/
---
<article class="main main--home">
	<header class="main-feature">
		<div class="wrapper">
			<h1 class="main-feature__page-title">Forum software everyone can love.</h1>
			<p class="main-feature__description">MyBB is the <strong>free and open source</strong> forum software powering thousands of engaging, powerful, and unique communities across the internet.</p>
			<div class="main-feature__buttons">
				<a href="{{ site.baseurl }}/download" class="button button--big">{% include icon.html icon='cloud-download' %}Download now</a>
				<a href="#features" class="button button--big button--secondary">{% include icon.html icon='zap' %}Take the feature tour</a>
			</div>
		</div>
	</header>
	<section class="features-block home-block" id="features">
		<div class="wrapper">
			<h1 class="features-block__title">Even more to offer</h1>
			<h2 class="features-block__subtitle">Don't miss any of the great features you can get with MyBB!</h2>
			<section class="block">
				<div class="feature-tour-list">
					{% for item in site.data.features %}
						{% assign item_url = item | prepend:"/features/" | append:"/" %}
						{% assign p = site.features | where:"url", item_url | first %}
					  <div class="feature-tour-list__item">
						  <h2 class="feature-tour-list__item__title"><a href="{{ site.baseurl }}{{ item_url }}" class="feature-tour-list__item__link">{{ p.title }}</a></h2>
						  <p class="feature-tour-list__item__description">{{ p.meta_description }}</p>
					  </div>
					{% endfor %}
				</ul>
			</section>
		</div>
	</section>
</article>
