    <footer class="footer">
        <div class="wrapper">
            <p class="footer__copyright">Copyright &copy; {{ site.time | date: '%Y' }} MyBB Group</p>
            <nav class="footer__nav">
                <ul class="footer__nav__links">
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/about/" class="footer__nav__links__item__link">MyBB Project</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/support/" class="footer__nav__links__item__link">Support</a>
                    </li>
                    <li class="footer__nav__links__item">
                        <a href="{{ site.baseurl }}/contact/" class="footer__nav__links__item__link">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
