<div class="team-list">
	{% assign sorted_team_data = include.team_data | sort:"name" %}
	{% for member in sorted_team_data %}
	{% if member.lead == true %}
	<div class="team-list__member team-list__member--lead">
		<h3 class="team-list__member__name">{{ member.name }}</h3>
		<p class="team-list__member__profile">{% include icon.html icon='person' %}<a href="http://community.mybb.com/user-{{ member.uid }}.html" class="team-list__member__profile__link">{{ member.username }}</a></p>
		{% if member.website != "" %}
		<p class="team-list__member__website">{% include icon.html icon='globe' %}<a href="{{ member.website }}" class="team-list__member__website__link">{{ member.website | remove: "http://" | remove: "https://" }}</a>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
	{% for member in sorted_team_data %}
	{% if member.lead != true %}
	<div class="team-list__member">
		<h3 class="team-list__member__name">{{ member.name }}</h3>
		<p class="team-list__member__profile">{% include icon.html icon='person' %}<a href="http://community.mybb.com/user-{{ member.uid }}.html" class="team-list__member__profile__link">{{ member.username }}</a></p>
		{% if member.website != "" %}
		<p class="team-list__member__website">{% include icon.html icon='globe' %}<a href="{{ member.website }}" class="team-list__member__website__link">{{ member.website | remove: "http://" | remove: "https://" }}</a>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
</div>
