@mixin bp-custom($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin bp-custom-max($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin icon($size, $color, $margin-right: 0, $margin-left: 0) {

    .icon svg {
        width: $size;
        height: $size;
        vertical-align: middle;
        margin-top: -2px;
        margin-#{$left}: $margin-left;
        margin-#{$right}: $margin-right;

        g {
            fill: $color !important;
        }
    }
}

@mixin icon-fill($color) {

    .icon svg g {
        fill: $color !important;
    }
}

@mixin menu-color($color) {
    border-color: $color;

    &.main-menu__links__item--active {
        background: $color;
        background: rgba($color, 0.7);
    }
}

@mixin section-color($color) {

    // .header {
    //     border-color: $color;
    // }

    .main-feature {

        .main-feature__page-title {
            color: $color;
        }
    }
}
