// $bp-medium: 800px;

$font-stack: 'Open Sans', sans-serif;
$alt-font-stack: 'Source Sans Pro', sans-serif;

$features-color: #EA545D;
$download-color: #ff7500;
$community-color: #FAC35C;
$get-involved-color: #55CCB0;
$extend-color: #24A9EA;
$docs-color: #663399;
$blog-color: #B94873;

$dark-background-3: #777;
