.main--home {
	padding: 0;

	.main-feature {

		.wrapper {
			padding: 50px $wrapper-padding-small;
			margin-bottom: 0;
			border-bottom: none;
			position: relative;

			@include bp-medium {
				padding: 50px $wrapper-padding-large;
			}
		}

		&__page-title {
			font-size: 2.4em;
		}

		&__description {
			font-size: 1.4em;
		}

		&__buttons {
			margin: 30px 0 0 -5px;
		}
	}

	@include bp-medium-max {

		.button {
			display: block;
			text-align: center;
			margin: 0 0 20px 0;
		}
	}
}

.home-block {

	.wrapper {
		padding: 50px $wrapper-padding-small;

		@include bp-medium {
			padding: 50px $wrapper-padding-large;
		}
	}

	&__title {
		font-weight: normal;
		margin: 0 0 10px 0;
		font-family: $alt-font-stack;
		font-size: 1.8em;
		color: $alt-font-color-4;
	}

	&__subtitle {
		font-weight: normal;
		font-size: 1em;
		color: $alt-font-color-2;
		margin: 0 0 30px 0;
	}

	&__buttons {
		margin: 0 0 0 -5px;
	}

	&--why {
		background: $background-2;
	}

	&--get-involved {

		.wrapper {
			border-bottom: 1px dashed $border-2;
		}
	}

	&--download {
		background: $primary-color;

		.home-block__title {
			color: $invert-font-color;
		}

		.home-block__subtitle {
			@include white-transparency(0.7);

			&__link {
				@include links {
					color: $invert-font-color;
					font-weight: bold;
				}
			}
		}
	}
}

.why-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;

	&__card {
		width: 100%;
		background: $background-default;
		border-radius: $radius;
		text-align: center;
		padding: 40px 20px 60px 20px;
		box-sizing: border-box;
		position: relative;
		margin-bottom: 20px;
		box-shadow: $border-1 0 0 10px;

		@include bp-medium {
			width: 48%;
		}

		@include bp-large {
			width: 24%;
		}

		&__icon {
			@include icon(40px, $alt-font-color-2, 0, 0);
		}

		&__title {
			font-size: $font-regular;
			color: $alt-font-color-1;
		}

		&__description {
			font-size: $font-smallest;
			line-height: 1.5;
			color: $alt-font-color-2;
		}

		&__action {
			position: absolute;
			bottom: 0;
			margin: 0 -20px 0 -20px;
			width: 100%;
			background: $background-1;
			text-align: left;
			font-size: $font-smallest;
			font-weight: bold;
			border-radius: 0 0 $radius $radius;

			&__link {
				display: block;
				padding: 10px 10px 10px 20px;
				display: flex;
				justify-content: space-between;

				@include icon(18px, $alt-font-color-2, 0, 0) {
				}
			}
		}


	}
}
