.main--home {
	padding: 0;

	.main-feature {

		.wrapper {
			padding: 120px 0 50px 0;
			margin-bottom: 0;
			border-bottom: none;
			position: relative;
		}

		&__page-title {
			font-size: 2.6em;
		}

		&__description {
			font-size: 1.4em;
		}

		&__buttons {
			margin: 30px 0 0 -5px;
		}
	}

	@include bp-medium-max {

		.button {
			display: block;
			text-align: center;
			margin: 0 0 20px 0;
		}
	}
}

.home-block {

	.wrapper {
		padding: 50px 0;
	}

	&__title {
		font-weight: normal;
		margin: 0 0 10px 0;
		font-family: $alt-font-stack;
		font-size: 1.8em;
		color: $alt-font-color-4;
	}

	&__subtitle {
		font-weight: normal;
		font-size: 1em;
		color: $alt-font-color-2;
		margin: 0 0 30px 0;
	}

	&__buttons {
		margin: 0 0 0 -5px;
	}

	&--why {
		background: $background-2;

		.wrapper {
			padding-bottom: 20px;
		}
	}

	&--get-involved {

		.wrapper {
			border-bottom: 1px dashed $border-2;
		}
	}

	&--download {
		background: $primary-color;

		.home-block__title {
			color: $invert-font-color;
		}

		.home-block__subtitle {
			@include white-transparency(0.7);

			&__link {
				@include links {
					color: $invert-font-color;
					font-weight: bold;
				}
			}
		}
	}
}
