.footer {
    background: $dark-background-1;

    .wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @include bp-medium {
            padding: 0;
            flex-direction: row;
        }
    }

    &__nav {
        flex-grow: 1;

        &__links {
            list-style: none;
            margin: 0;
            padding: 0;

            &__item {
                font-size: 0.8em;
                padding: 0;

                @include bp-medium {
                    display: inline-block;
                }

                &__link {
                    display: block;
                    padding: 6px 12px;

                    @include bp-medium {
                        padding: 18px 10px;
                    }

                    @include links {
                        color: $alt-font-color-3;
                        text-decoration: none;
                    }

                    &:hover,
                    &:active {
                        color: $invert-font-color;
                        background: rgba($dark-background-3, 0.6);
                    }

                    @include icon(16px, $alt-font-color-2, auto, auto) {
                        margin-right: 3px;
                    }
                }
            }
        }

        &--internal {
            text-transform: uppercase;
        }

        &--social {

            @include bp-medium {
                text-align: right;
            }
        }
    }

    &__copyright {
        display: none;
        float: $right;
        margin: 0;
        font-size: 0.75em;
        color: $alt-font-color-2;
    }
}
