.header {
    background: $dark-background-1;

    @include bp-medium {
        display: flex;
        flex-direction: row;
        height: $header-height;
    }

    &__title {
        height: 100%;
        margin: 0;

        @include bp-medium {
            float: $left;
        }

        .logo {
            height: $header-height;
            align-items: center;
            display: flex;

            @include bp-medium {
                height: 100%;
            }
        }
    }

    .wrapper {
        position: relative;
    }

    .menu-button,
    .menu-close-button {
        display: none;
    }
}

.main-menu {
    height: 100%;

    &__links {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        display: flex;

        @include bp-medium-max {
            flex-wrap: wrap;
            background: $dark-background-2;
            margin: 0 -6%;
        }

        &__gap {
            flex-grow: 2;

            @include bp-medium-max {
                display: none;
            }
        }

        &__item {
            $module: &;
            flex-grow: 1;
            transition: background $transition-speed ease;

            @include bp-medium-max {
                // width: 30%;
                width: 100%;
                box-sizing: border-box;
                text-align: left;
                border-top: 1px solid $dark-border-3;
            }

            &__link {
                display: block;
                margin: 0;
                font-size: $font-regular;
                height: 100%;
                font-weight: 300;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;

                @include bp-medium-max {
                    // height: auto;
                    text-align: left;
                    padding: 8px 20px;
                    font-size: $font-small;
                    justify-content: flex-start;
                }

                &:link, &:visited {
                    color: $invert-font-color;
                    text-decoration: none;
                }
            }

            &:hover,
            &:active {
                background: rgba($dark-background-3, 0.6);
            }

            &--active {
                background: $primary-color;
                color: $invert-font-color;
                // pointer-events: none;

                #{$module}__link {
                    color: inherit;
                }

                &:hover {
                    background: $primary-color;
                }
            }
        }

    }
}

.js {

    .header {
        position: fixed;
        z-index: 10;
        right: 0;
        left: 0;
        top: 0;

        .menu-button,
        .menu-close-button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 24px 15px;
            cursor: pointer;
            @include icon(30px, $invert-font-color);

            &--hide {
                display: none;
            }

            @include bp-medium {
                display: none;
            }
        }
    }

    .main-menu {

        &.main-menu--mobile-hide {

            @include bp-medium-max {
                display: none;
            }
        }

        &.main-menu--mobile-show {

            @include bp-medium-max {
                display: block;
            }
        }
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
